body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #F5F5F5;
}


.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
}


h1 {
    width: 956px;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    letter-spacing: -3%;
}


.room {
    position: relative;
    margin-top: 30px;
    height: 514px;
    background-image: url(../resources/Rectangle.png);
}
  

.image_text {
    position: absolute;
    width: 430px;
    left: 40px;
    bottom: 41px;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: -3%;
    color: #FFFFFF;
} 


.about_us_page {
    margin-top: 150px;
}


.title_about_us {
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -3%;
    text-align: left;
}
    

.about {
    margin-top: 30px;
    width: auto;
    font-size: 46px;
    line-height: 61px;
    letter-spacing: -3%;
    text-align: left;
} 


a {
    margin-top: 30px;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(173, 24, 24);
    color: #FFFFFF;
    text-decoration: none;
}


a:hover {
    color: black;
    background-color: red;
    text-decoration: none;
}


.projects {
    width: 1150px;
    height: 2122px;
    margin-top: 150px;
}


.title_projects {
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -3%;
    text-align: left;
}


.project_home {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
}


.project_image_home {
    position: relative;
}


.project_name_home {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 200;
    line-height: 41px;
    letter-spacing: -3%;
    color: rgb(18, 18, 18);
}


.project_details_btn_home {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: -3%;
    border: none;
    cursor: pointer;
    background-color: white; 
    color: rgb(173, 24, 24);
}


.all_projects_btn {
    position: absolute;
    width: 80%;
    height: 153px;
    font-size: 30px;
    font-weight: 200;
    line-height: 41px;
    letter-spacing: -3%;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(173, 24, 24);
    background-color: white;
    color: rgb(173, 24, 24);
}


.all_projects_btn:hover {
    color: white;
    background-color: red;
    
}










    
    


   
        