body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #F5F5F5;
    letter-spacing: -3%;

}


.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
}


h1 {
    width: 956px;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    
}


.room {
    position: relative;
    margin-top: 30px;
    height: 514px;
    background-image: url(../resources/Rectangle.png);
}
  

.image_text {
    position: absolute;
    width: 430px;
    left: 40px;
    bottom: 40px;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
} 


.about_us_page {
    margin-top: 150px;
}


.title_about_us {
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
    

.about {
    margin-top: 30px;
    width: auto;
    font-size: 46px;
    line-height: 61px;
    text-align: left;
} 


a {
    margin-top: 30px;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(173, 24, 24);
    color: #FFFFFF;
    text-decoration: none;
}


a:hover {
    color: black;
    background-color: red;
    text-decoration: none;
}


.projects {
    width: 100%;
    height: 2122px;
    margin-top: 150px;
}


.title_projects {
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}


.project_home {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
}


.project_image_home {
    position: relative;
}


.project_name_home {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: rgb(18, 18, 18);
}


.project_details_btn_home {
    padding-left: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    border: none;
    cursor: pointer;
    background-color: white; 
    color: rgb(173, 24, 24);
}


.all_projects_btn {
    position: relative;
    width: 100%;
    height: 153px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(173, 24, 24);
    background-color: white;
    color: rgb(173, 24, 24);
}


.all_projects_btn:hover {
    color: white;
    background-color: red;
    
} 


.home_services {
    margin-top: 150px;
    margin-left: -125px;
    margin-right: -125px;
    height: 1844px;
    background-color: rgb(18, 18, 18);
}


.services {
    margin-bottom: 35px;
    padding-left: 127px;
    padding-top: 151px;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    color: rgb(255, 255, 255);
}


.services_for_you {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 1150px;
    height: 326px;
}


.services_image {
    margin-bottom: 15px;
}


.services_name {
    padding-left: 3px;
    font-size: 27px;
    font-weight: 400;
    line-height: 41px;
    color: rgb(255, 255, 255)
}

.services_for_you:nth-last-child(1) {
    margin-bottom: 0px;
}
 







    
    


   
        