body {
    font-family: "Manrope", sans-serif;
    width: 100%;
    background: #F5F5F5;
    letter-spacing: -3%;
}


h1 {
    width: 956px;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;   
}


h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}


h3 {
    font-size: 30px;
    line-height: 41px;
}


h1,h2 {
    color: #121212;
}


h3 {
    color: white;
}


.section {
    padding: 150px 125px 0 125px;
}


.section-long {
    padding-bottom: 150px;
}


.section-black {
    margin: 0 auto;
    margin-left: -125px;
    margin-right: -125px;
    height: 1844px;
    background-color: rgb(18, 18, 18);
}


.section-black h2 {
    padding: 125px ;
    padding-bottom: 35px;
    color: #fff;
}


.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
}


.room {
    position: relative;
    margin-top: 30px;
    height: 514px;
    background-image: url(../resources/Rectangle.png);
}
  

.image_text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    color: #FFFFFF;
} 


h2.title_about_us {
    margin-top: 150px;
    margin-bottom: 31px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
    

.about {
    margin-top: 30px;
    width: auto;
    font-size: 46px;
    line-height: 61px;
    text-align: left;
} 


a.btn {
    margin-top: 30px;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(173, 24, 24);
    color: #FFFFFF;
    text-decoration: none;
}


a:hover {
    color: black;
    background-color: red;
    text-decoration: none;
}


h2.title_projects {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}


.project {
    margin-top: 31px;
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;
}


h3.project__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    color: rgb(18, 18, 18);
}


a.project__link {
    padding-left: 2px;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
    background-color: white; 
    color: rgb(173, 24, 24);
    text-decoration: none;
}


.all_projects_btn {
    display: block;
    width: 100%;
    height: 153px;
    border: 1px solid rgb(173, 24, 24);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: rgb(173, 24, 24);
    font-size: 30px;
}


.all_projects_btn:hover {
    background-color: red;
    color: white;
    
} 


.services {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 1150px;
    height: 326px;
}


.services_image {
    margin-bottom: 15px;
}


.services_for_you:nth-last-child(1) {
    margin-bottom: 0;
}
 







    
    


   
        